---
layout: default
---

<div class="home">

    <div class="homehead row">
      <div class="col-sm-3"></div>

      <div class="col-sm-6">
        <img class="title" src="{{ "/assets/img/title-1.png" | prepend: site.baseurl }}" />
      </div>

      <div class="col-sm-3"></div>

    </div>

    <div class="fullbook row">
        <div class="col-sm-2"></div>



        <div class="col-sm-8">
          {% capture index-text %}{% include about.md %}{% endcapture %}
                <p>{{ index-text | markdownify }}</p>
        </div>

        <div class="col-sm-2"></div>
    
    </div>


    <div class="sliderow row">
      <div class="col-sm-2"></div>

      <div class="col-sm-8">

        <div class="row">

          <div class="col-md-4">
            

              <a href="{{ "/assets/pdf/responsible-data-handbook.pdf" | prepend: site.baseurl }}" target="_blank"><div class="button">
                  <h6 class="downloadbook download">Download Handbook</h6></div></a>

              
          </div>

          <div class="col-md-4">

            
              <a href="{{ "/assets/pdf/responsible-data-handbook-summaries.pdf" | prepend: site.baseurl }}" target="_blank"><div class="button">
              <h6 class="downloadbook download">Download Summaries</h6></div>
            </a>
            
          
          </div>

          <div class="col-md-4">
            
              <a href="{{ "/pages/slides.html" | prepend: site.baseurl }}"><div class="button"><h6 class="downloadbook download">Explore Slide Decks</h6></div></a>
            
          </div>
        </div>
      </div>

      <div class="col-sm-2"></div>
    </div>



    {% include chapters.html %}
    



</div>
