---
layout: default
---

<div class="home">

    <div class="homehead row">
      <div class="col-sm-3"></div>

      <div class="col-sm-6">
        <img class="title" src="{{ "/assets/img/title-1.png" | prepend: site.baseurl }}" />
      </div>

      <div class="col-sm-3"></div>

    </div>

    <div class="fullbook row">
        <div class="col-sm-2"></div>



        <div class="col-sm-8">
          {% capture index-text %}{% include about.md %}{% endcapture %}
                <p>{{ index-text | markdownify }}</p>
        </div>

        <div class="col-sm-2"></div>
    
    </div>


    <div class="sliderow row">
      <div class="col-sm-2"></div>

      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="resource">Slides</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="button slides"><a href="{{ "/pages/slides.html" | prepend: site.baseurl }}">Chapter Slide Decks</a></h2>
          </div>
        </div>
      </div>

      <div class="col-sm-2"></div>
    </div>



    {% include chapters.html %}
    



</div>
