---
layout: default
---

<div class="home">

    <div class="homehead row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <img class="title" src="{{ "/assets/img/title-1.png" | prepend: site.baseurl }}" />
      </div>

      <div class="col-md-3"></div>

    </div>

    <div class="fullbook row">
        <div class="col-md-1"></div>

        <div class="col-sm-6 col-md-4">
          <img class="link" src="{{ "/assets/img/bold-line.png" | prepend: site.baseurl }}" />
          
          <div class="content">
            <h5>Full Books Download</h5>

            <a href="{{ "/assets/pdf/responsible-data-handbook.pdf" | prepend: site.baseurl }}" target="_blank">
              <div class="thumb">
                <img src="{{ "/assets/img/chapter-0.png" | prepend: site.baseurl }}" />
                <img src="{{ "/assets/img/chapter-1.png" | prepend: site.baseurl }}" />

              </div>
            </a>
          
          </div>

      
        </div>

        <div class="col-sm-6 col-md-6">
          {% capture index-text %}{% include about.md %}{% endcapture %}
                <p>{{ index-text | markdownify }}</p>
        </div>

        <div class="col-md-1"></div>
    
    </div>

    
      {% include isotope.html %}




</div>
