
<div class="browsech">
	<div class="row">
		<div class="col-xs-1"></div>

		<div class="col-xs-10">
	
			<h5 class="browse">Browse Other Chapters</h5>
		</div>
		
		<div class="col-xs-1"></div>

	</div>

	<div class="row">

		<div class="col-xs-1"></div>
		
		<div class="col-xs-10">

					{% assign posts = site.posts | sort: "num" %}
					{% for post in posts %}
						{% if post.title != page.title %}
						<div class="eachch">
						  <a href="{{ post.url | prepend: site.baseurl }}" class="browselink">
						  <img class="chapterthumb" alt="{{post.title}}" src="{{ "/assets/img/chapter-" | prepend: site.baseurl }}{{ post.num }}.png" />
							
						  {% if post.ch == 0 %}

						  		<h4 class="ch zerosmall"><img src="{{ "/assets/img/special-zero.png" | prepend: site.baseurl }}"/></h4>

						  {% else %}
						
							<h4 class="ch">{{ post.ch }}</h4>
						  
						  {% endif %}

							</a>

						</div>
						{% else %}

						<div class="eachch">
						  <img class="chapterthumb" alt="{{post.title}}" src="{{ "/assets/img/chapter-" | prepend: site.baseurl }}{{ post.num }}.png" />
							
						  <div class="chcurrent">
								
		  					{% if post.ch == 0 %}

						  		<h5 class="ch zerosmall"><img src="{{ "/assets/img/special-zero.png" | prepend: site.baseurl }}" /></h5>

						  		<h4 class="zerosmall">You are here</h4>


						  	{% else %}
						
						  
								<h5>{{ post.ch }}</h5>

								<h4>You are here</h4>


							{% endif %}

							</div>
						</div>

						{% endif %}
					{% endfor %}

			</div>

			<div class="col-xs-1"></div>

		</div>

	</div>