   {% assign post = site.posts | sort %}
		  
   	<div class="handbookrow row">
	   		<div class="col-sm-1 col-md-2"></div>

	   		<div class="col-md-8 col-sm-10">

	   			<h2 class="resource">Handbook</h2>
	   		</div>

	   		<div class="col-sm-1 col-md-2"></div>
	</div>
   	</div>
    <div class="chapterrow row">
      <div class="col-md-2 col-sm-1">
      		<img class="sidecurls first" src="{{ "/assets/img/curls-3.png" | prepend: site.baseurl }}" />
      </div>

      <div class="col-md-8 col-sm-10">


		{% for p in post %}


			<div class="col-sm-4 chapter grid-item">
				<div class="imgwrap">
				  <img class="img" title="{{ p.title }}" src="{{ "/assets/img/chapter-" | prepend: site.baseurl }}{{ p.num }}.png"/>
				 </div>
				 <div class="textwrap">
				  <a href="{{ p.url | prepend: site.baseurl}}">

				  <h6>read</h6>

				  </a>
				  
				  <a href="{{ "/assets/pdf/" | prepend: site.baseurl }}{{ p.asset-link }}.pdf" target="_blank"><h6 class="download">download</h6></a>
				</div>


			</div>



		{% endfor %}


      </div>

      <div class="col-md-2 col-sm-1">
      		<img class="sidecurls second" src="{{ "/assets/img/curls-3.png" | prepend: site.baseurl }}" />
      </div>

    </div>


