   {% assign post = site.posts | sort %}
		  
   	<div class="handbookrow row">
	   		<div class="col-sm-1 col-md-2"></div>

	   		<div class="col-md-8 col-sm-10">

	   			<h2 class="resource">Handbook</h2>
	   		</div>

	   		<div class="col-sm-1 col-md-2"></div>
	</div>
   	</div>
    <div class="chapterrow row">
      <div class="col-md-2 col-sm-1">
      		<img class="sidecurls first" src="{{ "/assets/img/curls-3.png" | prepend: site.baseurl }}" />
      </div>

      <div class="col-md-8 col-sm-10">

      	<div class="col-sm-3 col-md-4 chapter grid-item">

				  <a href="{{ "/assets/pdf/responsible-data-handbook.pdf" | prepend: site.baseurl }}" target="_blank"><img class="img" title="Responsible Data Handbook" src="{{ "/assets/img/handbook-front.jpg" | prepend: site.baseurl }}"/>
          		
          			<h6 class="button downloadbook download">Download Book</h6></a>


      	</div>

      	<div class="col-sm-3 col-md-4 chapter grid-item">

				  	<a href="{{ "/assets/pdf/responsible-data-handbook.pdf" | prepend: site.baseurl }}" target="_blank"><img class="img" title="Chapter Summaries" src="{{ "/assets/img/handbook-front.jpg" | prepend: site.baseurl }}"/>
          		
          			<h6 class="button downloadbook download">Download Chapter Summaries</h6></a>
      	</div>

		{% for p in post %}


			<div class="col-sm-3 col-md-4 chapter grid-item">

				  
				  <a href="{{ p.url | prepend: site.baseurl}}"><img class="img" title="{{ p.title }}" src="{{ "/assets/img/chapter-" | prepend: site.baseurl }}{{ p.num }}.png"/>

				  <h6>read</h6>

				  </a>
				  
				  <a href="{{ "/assets/pdf/" | prepend: site.baseurl }}{{ p.asset-link }}.pdf" target="_blank"><h6 class="download">download</h6></a>


			</div>



		{% endfor %}


      </div>

      <div class="col-md-2 col-sm-1">
      		<img class="sidecurls second" src="{{ "/assets/img/curls-3.png" | prepend: site.baseurl }}" />
      </div>

    </div>


