<div class="row">
	<div class="col-md-1"></div>

	<div class="col-md-10 filter-group">

      <ul classs="options">
        <li data-filter="*" class="displayoption active">
          All
        </li>
        /
        <li data-filter=".bookall, .slideall" class="displayoption">
          Full book & Full slide deck 
        </li>
        /
        <li data-filter=".slide" class="displayoption">
          Single Slides 
        </li>
        /
        <li data-filter=".chapter" class="displayoption">
          Single Chapters
        </li>

      </ul>
     </div>

     <div class="col-md-1"></div>

</div>


<div class="row">

	<div class="col-md-1"></div>

	<div class="grid col-md-10">
		<div class="bookall grid-item">

			<img src="{{ "/assets/img/chapter-0.png" | prepend: site.baseurl }}" />
			
			<a href="{{ "/assets/pdf/responsible-data-handbook.pdf" | prepend: site.baseurl }}" target="_blank"><h6>download</h6></a>

		</div>

		<div class="slideall slide grid-item">

			<img src="{{ "/assets/img/chapter-0.png" | prepend: site.baseurl }}" />
			<a href="{{ "/assets/slides/responsible-data-handbook.odp" | prepend: site.baseurl }}" target="_blank"><h6>download</h6></a>

		</div>

		{% assign post = site.posts | sort %}
		  

		{% for p in post %}
		  
		<div class="chapter grid-item">
		  
		  <a href="{{ p.url | prepend: site.baseurl}}"><img class="img" title="{{ p.title }}" src="{{ "/assets/img/chapter-" | prepend: site.baseurl }}{{ p.num }}.png"/>

		  <h6>read</h6>

		  </a>
		  
		  <a href="{{ "/assets/pdf/" | prepend: site.baseurl }}{{ p.asset-link }}.pdf" target="_blank"><h6>download</h6></a>


		</div>

		<div class="slide grid-item">
		 
		 <a href="{{ "/assets/slides/" | prepend: site.baseurl }}{{ p.asset-link }}.odp" target="_blank">

		  <img class="img" title="{{ p.title }}" src="{{ "/assets/img/chapter-" | prepend: site.baseurl }}{{ p.num }}.png"/>

		 <h6>download</h6></a>

		</div>



		{% endfor %}

	</div>

	<div class="col-md-1"></div>

</div>