/**
 * Site header
 */
.site-header {
    background-color: $black-color;
    color: #fff; 
    position: relative; 
    z-index: 3; 
    display: block;
    .icon-arrow-down:before { 
        content: "\e005"; }
    
    [class*="icon-"] { font-family: 'ThemeIcons'; speak: none; font-style: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }



    .container{
        width: 960px;
        margin: 0 auto;
        padding: 0;
    }

   #logo, #menu { display: table-cell; vertical-align: middle; height: 3.45em; }


    #logo{

        text-align: right; 
        -ms-touch-action: none; 
        display: table-cell;
        vertical-align: middle;
        height: 4em;
        padding: 0.86em 10px;
        position: relative;

        #menuswitch{
            display: none;

        }

        h1{
            margin-bottom: 0;
            margin-right: 0;

        a{
            display: inline-block;
            img{
                height: 80px;

            }
        }  
    }
    }


    #menu{
        text-align: right;
        padding-right: 10px;
        ul{
                display: block;
                -webkit-margin-before: 0.86em;
                -webkit-margin-after: 0.86em;
                -webkit-margin-start: 0px;
                -webkit-margin-end: 0px;
                -webkit-padding-start: 85px;    
    

            li{
                display: inline-block;

                a{
                    font-size: 0.86em; 
                    color: #fff; 
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 0.75em 1.5em;
                        -webkit-transition: all 0.2s ease;
                        -moz-transition: all 0.2s ease;
                        -ms-transition: all 0.2s ease;
                        -o-transition: all 0.2s ease;
                        transition: all 0.2s ease;
                    display: inline-block; 

                &:hover{
                    background-color: #090909;

                }
                }
            }
        }
    }
  
      

    @media(max-width: 1010px) {
        .container{
            width: 720px;
            img{
                max-width: inherit;
            }
            #menu{
                ul{
                    li{
                        a{
                            font-size: 14px;
                            padding: 0.5em 1em;
                        }
                    }
                }
            }
        }

    }

    @media(max-width: 753px) {
        #menu{
            display: none;
        }
        #menu.mobile { display: block; height: auto; }
        #menu.mobile li { border-top: 1px solid #333; display: block;}
        #menu.mobile li a { display: block; font-size: 0.86em; padding: 0.86em; }

        #menu.mobile ul { list-style: none; display: block; -webkit-padding-start: 0; -webkit-padding-start: 0; text-align: left;}
        #menu.mobile ul, #menu li { margin: 0; }

        .container{
            width: 100%;
        }
      
        #logo{
            display: table;
            width: 100%;
            text-align: inherit;

           #menuswitch { position: absolute; top: 50%; right: 0; width: 5em; height: 6em; margin-top: -3em; cursor: pointer; text-align: center; display: table; }
            
            #menuswitch:before { text-align: center; font-size: 1.11em; display: table-cell; vertical-align: middle; }
            
            #menuswitch:before { text-align: center; font-size: 1.11em; display: table-cell; vertical-align: middle; -webkit-transition: transform 0.3s ease; -moz-transition: transform 0.3s ease; -ms-transition: transform 0.3s ease; -o-transition: transform 0.3s ease; transition: transform 0.3s ease; }
            
            #menuswitch.on:before { top: 15%; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
        }


    }

     @include media-query($on-palm) {

        #logo{
            img{
                width: 240px;
            }
        }

    }

}







/**
    * Side menu on chapter pages
*/

#sidemenu{




    .title{
        width: 240px;
        display: block;
        margin: 0 10px 10px 10px;
        a:hover{
            text-decoraton: none;
        }

    }

    .index{
        width: 240px;
        display: block;
        margin: 20px 0 20px 10px;
        padding: 20px 5px;
        border: 2px solid $red-color;
        text-align: center;
        a{
            &:hover{
                text-decoration: none;
            }

        }
        h5{
            color: $red-color;
            margin: 0;
            font-size: 27px;
        }
    }

    .download{
        width: 240px;
        margin: 20px 0 20px 10px;
        padding: 10px 5px;
        display: block;
        border: 2px solid $red-color;
        text-align: center;

        h6{
            color: $red-color;
            text-transform: uppercase;
            margin: 0;
            font-size: 20px;
            letter-spacing: 0.03em;
        }

        a{
            &:hover{
                text-decoration: none;
            }

        }
    }

    .dontshow{
        display: none;
          -webkit-transition: display 1s ease;
        -moz-transition: display 1s ease ;
        -ms-transition: display 1s ease;
        -o-transition: display 1s ease;
        transition: display 1s ease;

    }

    .contentnav{
        float: left;
        max-width: 60%;
        ul{
            padding: 0 0 0 10px;
            float: left;
            margin: 40px 0 0 0;
            list-style: none;


            
            li{
                list-style-type: none;
                padding: 5px 0 5px 0;
                font-size: 22px;
                line-height: 1.2em;
                a{
                    font-variant: small-caps;
                    color: $black-color;

                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        
        
    }

    .curls{
            float: left;
            margin:0;
            img{
                max-width: 60px;
            }



    }


    @include media-query($on-laptop) {
        .title{

            padding: 0 0 20px 0;
            width: 250px;
        }
        .title, .download, .index{
            margin: 10px auto;
        }
        .contentnav, .curls{
            display: none;
        }

    }


    @include media-query($on-palm) {
        .title{

            padding: 0 0 20px 0;
            width: 280px;
        }
        .title, .download, .index{
            margin: 10px auto;
        }
        .contentnav, .curls{
            display: none;
        }

    }
}

.fixed{
    position: fixed;
    top: 20px;
      -webkit-transition: top 0.5s ease, position 0.5s ease;
    -moz-transition: top 0.5s ease, position 0.5s ease ;
    -ms-transition: top 0.5s ease, position 0.5s ease;
    -o-transition: top 0.5s ease, position 0.5s ease;
    transition: top 0.5s ease, position 0.5s ease;
}

.gone{
    position: absolute;
    -webkit-transition: position 1s slide;
    -moz-transition: position 1s slide ;
    -ms-transition: position 1s slide;
    -o-transition: position 1s slide;
    transition: position 1s slide;
}


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    border-top: 20px solid black;

    img{
        width: 20%;
        float: left;
    }

    p{
        padding: 0 0 30px 30px ;
        width: 70%;
        float: left;
    }

    a{
        color: $red-color;
        &:hover{
            text-decoration: none;
            color: $red-color;
        }
    }

    @include media-query($on-palm) {
        p{
            font-size: 16px;
        }
    }

}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}


.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.post{
    .post-header {
        margin-top: $spacing-unit/2;
        margin-bottom: $spacing-unit;

        h3{
            color: $red-color;
            text-transform: uppercase;
            font-size: 35px;
            text-align: center;
        }

        .numwrapper{
            position: relative;
            width:95%;
            margin: 0 auto;
            .curlholder{
                width: 300px;
                margin: 0 auto;
            }

            .chnum{
                width: 100px;
                color: $red-color;
                position: absolute;
                top: 23%;
                left: 43%;
                text-align: center;
                font-size: 50px;

 
            }

            .zerobig{
                top: 23%;
                left: 43%;
                img{
                    width: 50px;
                }
            }
        }

        .curlholder{
            width: 330px;
            margin: 0 auto;
        }


    }


    .post-title {
        font-size: 7.5vw;
        margin-bottom: 0;
        letter-spacing: -1px;
        line-height: 1;
        color: $red-color;
        text-align: center;
        text-transform: uppercase;

    }

    .post-content {
        margin-bottom: $spacing-unit;

        h2 {
            font-size: 25px;
            color: $red-color;
            font-variant: small-caps;
            margin-bottom: 0;

            @include media-query($on-laptop) {
                font-size: 22px;
            }
        }

        h3 {
            font-size: 22px;
            text-transform: capitalize;
            padding-left: 45px;
            font-variant: small-caps;
            margin-bottom: 0;
            background:  url("../img/curls-list-2.png") no-repeat left center;
            @include media-query($on-laptop) {
                font-size: 18px;
            }
        }

        h4 {
            font-size: 18px;
            text-transform: capitalize;
            padding-left: 45px;
            font-variant: small-caps;
            margin-bottom: 0;
            background:  url("../img/curls-list-2.png") no-repeat left center;

            @include media-query($on-laptop) {
                font-size: 18px;
            }
        }

        p strong{
            color: $red-color;
            font-weight: normal;

        }

        h2#content-summary + p:first-letter, h2#content-summary + h3 + p:first-letter{
                font-family: $bold-font-family;
                float: left; 
                font-size: 75px; 
                line-height: 60px; 
                padding-top: 5px; 
                padding-right: 4px; 
                padding-left: 3px;
            
        }


        p a, li a{
            color: $red-color;
            text-decoration: none;

            &:hover{
                text-decoration: none;
            }
        }
    }

    .mobilemenu{
        display: none;
        width: 200px;
        margin: 0 auto;
        ul{
            margin: 10px 0;
            padding: 10px 0 10px 30px;
            li{
                font-variant: small-caps;
                padding: 5px 0;

                a{
                    color: $black-color;
                    font-size: 20px;
                    
                    &:hover{
                        text-decoration: none;
                        color: $red-color;
                    }
                }
            }
        }
    }

    @include media-query($on-laptop) {

        .curlholder{
            padding: 20px 0 0 0;
        }
        .mobilemenu{
            display: block;
        }
        .post-title{
            font-size: 7.5vw;
            padding: 20px 0;
        }

        .post-header{
            padding: 20px 0 0 0;


            h3{
                font-size: 20px;
                padding: 10px 0;
            }



            .numwrapper{


                .chnum{

                    top: 25%;
                    left: 42%;
                    font-size: 40px;
                    width: 100px;

                
                    img{
                        width: 80px;
                    }
                }


            .zerobig{
                top: 21%;
                left: 40%;
                img{
                    width: 40px;
                }
                }


            }

        }


    }

    @include media-query($on-palm) {

        .post-header{

            .numwrapper{


                .chnum{
                    width: 100px;
                    top: 27%;
                    left: 35%;
                    font-size: 20px;
                }

                .zerobig{
                    top: 21%;
                    left: 35%;
                    img{
                        width: 30px;
                    }
                }
            }

        }


    }

}

/**
 * Browse Chapters at bottom of posts
**/

.browsech{

    h5.browse{
        margin: 0 10px 20px 10px;
        padding: 10px 0 10px 0;
        text-transform: uppercase;
        border-bottom: 3px solid $red-color;
        font-size: 28px;
    }

    .col-md-12{
        margin-left: 40px;
    }

    .eachch{
        float: left;
        position: relative;

        a.browselink:hover{
            text-decoration: none;
        }

        .chcurrent{
            position: absolute;
            bottom: 50px;
            left: 25px;
            background: rgba(250,250,250,0.8);
            border-radius: 50px;
            //border: 1px solid $red-color;
            color: $red-color;
            text-align: center;

            h5{
                font-size: 30px;
                padding: 20px 0 0 0;
                margin: 0;
                font-family: $fancy-font-family;


            }

            h4{
                font-size: 20px;
                padding: 0 10px 10px 10px;
                font-family: $fancy-font-family;

            }

        }

        .ch{
            position: absolute;
            border-radius: 50px;
            bottom: 50px;
            left: 45px;
            font-family: $fancy-font-family;
            color: $red-color;
            line-height: 0.8em;
            font-size: 50px;
            background: rgba(250,250,250,0.8);
            padding: 40px 20px 20px 20px;

            img{
                width: 50px;

            }
    
        }

        h4.zerosmall{
            padding-top: 20px;
        }

        h5.zerosmall{
            left: 30px;
            padding-bottom: 10px;
            img{
                width: 30px;
            }
        }

        img.chapterthumb, .thumb img{
            max-width: 160px;
            padding: 10px;
        }

    }

    .bar{
        width: 20px;
        height: 170px;
        margin: 0 0 0 10px;
    }

    @include media-query($on-palm) {

        h5.browse{
            font-size: 20px;
        }


    }
}

/**
* Index 
**/


/* title */

.homehead{
    .title{
        margin: 10px 0 50px 0;
    }

    @include media-query($on-palm) {
        .title{
            margin-bottom: 10px;
        }
    }

}

/* Full download */


.fullbook{


    p strong{
        font-family: $bold-font-family;
        font-variant: small-caps;
        color: $black-color;
        font-weight: bolder;
    }


}


/* isotope filter */

.filter-group{
        font-size: 25px;

    ul{
        margin: 10px 0 15px 0;
        padding: 20px 0;
        border-bottom: 3px solid $black-color;
        li{
            display: inline-block;
            list-style-type: none;
            cursor: pointer;
            font-size: 25px;
            &:hover{
                color: $red-color;
            }
        }   
    }

    .active{
        color: $red-color;
    }

    @include media-query($on-laptop) {
        
        font-size: 22px;
        
        ul{

            li{
                font-size: 22px;
            }
        }

    }


    @include media-query($on-palm) {
 
        font-size: 18px;

        ul{
            padding: 10px 0;

            li{
                font-size: 18px;
            }
        }


    }

}
    .sidecurls{
       width: 80px;
       margin: 50px auto;

        @include media-query($on-laptop) {

            display: none;

        }
    }

    img.first{
        float: right;
         -moz-transform: scalX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .second{
        float: left;
    }

    .introduction{

        padding: 5px 10px 50px 10px;
        margin: 0 auto;
        width: 80%;
        img{
            padding: 10px 0;
            width: 100%;
            margin: 0 auto;
        }

        a{


            h6{   
                text-transform: uppercase;
                color: $black-color;
                width: 100px;
                font-size: 20px;
                float: left;
                padding: 0 120px 0 0;

                 &:hover{
                    color: $red-color;
                    text-decoration: none;
                }

            }


            h6.download{
                color: $red-color;

                &:hover{
                    color: $black-color;
                }
            }


        }

    }

    .grid-item{
        width: 30%;
        float: left;
        height: 450px; 
        padding: 5px 10px 30px 10px;
        margin: 0 10px;

        img{
            max-height: 400px;
            padding: 10px 0;
        }

        a{


            h6{   
                text-transform: uppercase;
                color: $black-color;
                width: 100px;
                font-size: 20px;
                float: left;
                padding: 0 25px 0 0;

                 &:hover{
                    color: $red-color;
                    text-decoration: none;
                }

            }


            h6.download{
                color: $red-color;

                &:hover{
                    color: $black-color;
                }
            }


        }

}

    @include media-query($on-laptop) {

        .grid-item{
            max-height: 400px;
            img{
                max-height: 360px;
            }

        }
        .grid-item, .introduction{ 
        

            a{
                h6{
                    font-size: 18px;
                    padding: 0 25px 0 0;

                }
            }
        }


    }

    @include media-query-landscape($on-laptop){

        .grid-item{
            max-height: 320px;
            img{
                max-height: 300px;
            }

        }

        .grid-item, .introduction{ 
    

            a{
                h6{
                    font-size: 12px;
                    width: 40px;
                    padding: 0 25px 0 0;

                }
            }
        }

    }

    @include media-query-portrait($on-palm){

        .grid-item{
            max-height: 200px;

        }

        .grid-item, .introduction{ 
            


            a{
                h6{
                    font-size: 12px;
                    width: 40px;
                    padding: 0 25px 0 0;

                }
            }
        }

    }
/**
  ** Slides 

**/

.slides{
    .curlholder{
            width: 330px;
            margin: 0 auto;

    }

    .fullbook{
        margin-bottom: 50px;
    }


    .post-title {
        font-size: 6vw;
        margin: 50px 0 30px 0;
        letter-spacing: -1px;
        line-height: 1;
        color: $red-color;
        text-align: center;
        text-transform: uppercase;

    }

    a{


            h6.allsides{   
                text-transform: uppercase;
                color: $red-color;
                font-size: 19px;
                float: left;
                padding: 0;
                width: 100%;

                 &:hover{
                    color: $black-color;
                    text-decoration: none;
                }

            }
    }


}

