<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->

  {% include head.html %}

  <body>
    {% include header.html %}
  
  <div class="container-fluid">

    <div class="page-content">

      {% if page.title == "Responsible Data Slides" %}
      <div class="row slidepage">

            <div class="col-sm-3">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11"> 
                 {% include sideslides.html %}
                </div>
              </div>
            </div>

            <div class="col-sm-9">


                {{ content }}
         

          </div>
        </div>

      {% elsif page.layout == "post" %}
        <div class="row">

            <div class="col-sm-4">
              <div class="row postrow">
                <div class="col-md-1"></div>
                <div class="col-md-11"> 
                 {% include sidemenu.html %}
                </div>
              </div>
            </div>

            <div class="col-sm-8">
              <div class="row">
                <div class="col-md-11 col-sm-12">

                {{ content }}
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>

        </div>

        {% include browsechapters.html %}


      {% else %}

            {{ content }}
      
      {% endif %}

  
    
    </div>

    {% include footer.html %}

  </div>
  </body>

</html>
