---
layout: default
---
<article class="post">

  <header class="post-header">
  	<div class="numwrapper">
      <div class="chnum">{{ page.ch }}</div>
    	<img class="numholder" src="{{ "/assets/img/elem-1.png" | prepend: site.baseurl }}" />
    </div>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
   {% if page.subtitle %}
   	<h3>{{ page.subtitle }}</h3>
   {% endif %}

  <div class="mobilemenu">
    <ul>

    {% assign nav = page.nav %}

      {% for n in nav %}


        <li><a href="#{{ n | split: " "| join: "-" | downcase }}">{{ n }}</a></li>

      {% endfor %}

    </ul>


  </div>

  <div class="curlholder">
       <img class="curls" src="{{ "/assets/img/curls-1.png" | prepend: site.baseurl }}" />
  </div>

  </header>



  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
