---
layout: default
---
<article class="post">

  <header class="post-header">
  	<div class="numwrapper">
      {% if page.ch == 0 %}

         <div class="chnum"><img src="{{ "/assets/img/special-zero.png" | prepend: site.baseurl }}" /></div>

      {% else %}
        <div class="chnum text">{{ page.ch }}</div>
      {% endif %}
      <img class="numholder" src="{{ "/assets/img/elem-1.png" | prepend: site.baseurl }}" />
    </div>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
   {% if page.subtitle %}
   	<h3>{{ page.subtitle }}</h3>
   {% endif %}
    

      <div class="curlholder">
           <img class="curls" src="{{ "/assets/img/curls-1.png" | prepend: site.baseurl }}" />
      </div>

     <div class="map">
    <img src="{{ "/assets/img/map.png" | prepend: site.baseurl }}" />
    </div>
 
    <span id="smallmenuswitch" class="icon-arrow-down"></span>

    <div id="menusmall" class="mobilemenu">
    <ul>

    {% assign nav = page.nav %}

      {% for n in nav %}


        <li><a href="#{{ n | replace: "?", "" |  split: " "| join: "-" | downcase }}">{{ n }}</a></li>

      {% endfor %}

    </ul>


  </div>



  </header>




  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
